<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite1" verbose="1">
  
  <test name="Regression1">
  
  <groups>
    <run>
      <include name="Sanity"/>
     
    </run>
  </groups>
    <classes>
      <class name="com.synechron.practise.TestCase1"/> 
      <class name="com.synechron.practise.TestCase2"/>
      <class name="com.synechron.practise.TestCase3"/>
    </classes>
  </test>
</suite>